<!-- <div class="bigclass text-light p-5 bg-black">
  <div class="container bg-danger">
    <div class="row">
      <div class="col-10 mt-3 bg-dark ms-auto me-auto rounded-3 mb-3">
        <h1 class="mt-2 text-center">Anime</h1>
        <div class="row mt-5">
          <div class="col-6 text-center">
            <img
              [src]="link"
              alt=""
              style="width: 350px; height: 450px"
              class="ms-auto me-auto"
            />
            <input
              type="file"
              class="form-control ms-auto me-auto mt-2 mb-3 btn-danger"
              style="width: 350px"
              (change)="img($event)"
            />
          </div>
          <div class="col-6 ms-auto">
            <div class="row mt-3">
              <div class="col-10">
                <label for="" class="form-label">Anime Name</label>
                <input
                  type="text"
                  name="name"
                  [(ngModel)]="title"
                  placeholder="Enter Movie Name"
                  class="form-control"
                />
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-10">
                <label for="" class="form-label">Anime Type</label>
                <select
                  name="type"
                  [(ngModel)]="categoryID"
                  class="form-control"
                >
                  <option selected na>-- Select Type --</option>
                  <option *ngFor="let cat of categories" value="{{ cat.id }}">
                    {{ cat.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-10">
                <label for="" class="form-label">Quantity</label>
                <input
                  type="number"
                  name="quantity"
                  [(ngModel)]="stock"
                  class="form-control"
                />
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-10 mt-auto mb-auto">
                <button class="btn btn-danger" (click)="add()">
                  {{ iiid > 0 ? "Edit" : "Add" }}
                </button>
                <button
                  [routerLink]="['/admin', 'anime']"
                  class="btn btn-light ms-2"
                >
                  Back
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
